.app {
    text-align: center;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
    grid-template-rows: 150px 1fr 75px;

}

.navbar {
    grid-area: header;
}

.main {
    grid-area: main;
    align-self: center;
}

.footer {
    grid-area: footer;
}

.double-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 1rem;
}