.container__logo{
    margin-top: 10px;
    margin-left: 10px;
}

.logo{
    width: 100px;
    height: 100px;
    filter: drop-shadow(0px 7px 21px #b6e1f9);
    animation: rotar 5s linear infinite;
}

@keyframes rotar{
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(-180deg);
    }
}

.contenedor{
    position: relative;
    max-width: 1600px;
    height: 70vh;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-content: center;
}

.columna{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    margin: 30px;
    padding: 0;
    border: 4px solid #b6e1f9;
    overflow: hidden;
    cursor: pointer;
}

.img{
    margin-left: -35px;
    width: 115%;
    height: 100%;
    object-fit: contain;
}

.text{
    position: absolute;
    left: -500px;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    font-weight: 600;
    color: white;
    z-index: 3;
    backdrop-filter: blur(5px);
    transition: all 400ms ease-in-out;
}

.columna:hover > .text{
    left: 0px
}

.navbar-expand {
    width: 100px;
}



/*Pagina del juego*/
.games__title{
    text-align: center;
    width: 58%;
    margin: 0px auto;
}

